<div class="container">
<form align="center" name="formDesast" #formDesast="ngForm" (ngSubmit)="Enviar(formDesast) "id="formprincipal">
<p><input placeholder="NOME(COMPLETO)" name="nome" [(ngModel)]="nome" required #nomeInput="ngModel" pattern="^[a-zA-ZÀ-ÿ\s]+$"></p>
<p><input placeholder="DD+NÚMERO DE CELULAR"  type="number" maxlength="11" type="text" name="telefone" [(ngModel)]="telefone" required pattern="^[0-9]{11}$" #telefoneInput="ngModel"></p>
<p><input placeholder="CEP(SEM TRAÇO)" name="cep" [(ngModel)]="cep" maxlength="8" required #cepInput="ngModel" pattern="^[0-9]{8}$" ></p>
<p><textarea placeholder="O DESASTRE QUE ACONTECEU:" id="FormDesaste" minlength="20" maxlength="200" placeholder="O DESASTRE QUE ACONTECEU:" name="desastre" [(ngModel)]="desastre" required #desastreInput="ngModel"></textarea></p>
<button type="submit" id="Enviar" [disabled]="formDesast.invalid"><strong>ENVIAR</strong></button>
</form>
</div>
<br>

    <div *ngIf="mensagem" [style.color]="erro ? 'red' : 'green' ">
        {{ mensagem }}
    </div>

<div>
        <table align="center" border="1" class="table table-striped table-hover table-bordered border-dark">
            <thead style="background-color: rgb(0, 225, 255);">
                <tr style="font-size: 26px;" align="center">
                    <td>CÓDIGO</td>
                    <td>NOME</td>
                    <td>Nº CELULAR</td>
                    <td>CEP</td>
                    <td>DESASTRE</td>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let item of alunos" style="font-size: 24px;" >
                    <td align="center">{{ item.codigo }}</td>
                    <td align="center">{{ item.nome }}</td>
                    <td align="center">{{ item.celular }}</td>
                    <td align="center">{{ item.cep }}</td>
                    <td>{{ item.descricaoAjuda }}</td>
                </tr>
            </tbody>




        </table>
    </div>

